* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdc3c7;
    font-family: Lato;
    font-weight: 300px;
}

.content {
    max-width: 1140px;
    margin: 20px auto;
}

/*----- Navigation on the top -----*/
.menu {
    width: 100%;
    background-color: #ecf0f1;
    list-style-type: none;
    border-radius: 5px;
    font-weight: 300;
}

.menu li {
   float: left;
}

.clear-both:after {
    content: " ";
    display: block;
    clear: both;
}

.menu li a:link,
.menu li a:visited {
    margin: 0;
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    color: #888;
    border-bottom: 2px solid #ecf0f1;
}

.menu li a:hover,
.menu li a:active {
    background-color: #0bbace;
    color: #ecf0f1;
    border-bottom: 2px solid #0aacbe;
    transition: all 0.3s;
}

.menu li.active a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid #0aacbe;
    background-color: #0bbace;
    color: #ecf0f1;
}

.menu li.search {
    float: right;
}

.search-form {
    padding: 13px 0;
    margin-right: 15px;
}

.search-form input {
    padding: 5px 0;
    color: #888;
    outline: none;
}

.search-form button{
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
}

/*----- MAIN -----*/

.main-content {
    margin-top: 30px;
}

.small-box {
    float: left;
    width: 270px;
    height: 400px;
    margin-right: 30px;
    border-radius: 5px;
}

/*-----PROFILE BOX-----*/
.profile-box {
    background-color: #ecf0f1;
    color: #888;
    text-align: center;
}

.profile-box img {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.profile-box h2,
.profile-box h4 {
    font-family: Lato;
    font-weight: 300;
    margin-bottom: 10px; 
}

.icons {
    list-style-type: none;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgb(214, 214, 214);
}

.icons li {
    display: inline-block;
}

.icons li a {
    padding: 20px 25px;
    color: #888;
    font-size: 30px;
}

.icons li a:hover {
    color: #0bbace;
}

/*------ PHOTO BOX-----*/
.photo-box {
    background-image: linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.30)),url("../img/pexels-photo.jpg");
    background-size: cover;
}

.description-box {
    width: 540px;
    background-color: #ecf0f1;
}